/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/Home.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Home_mainContent__nJQdL {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Home_Header__4R7Sj {
  margin-bottom: 20px;
}

.Home_IElogo__y3m9s {
  background-color: var(--color-border-primary);
  width: 50px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.13);
  animation: Home_grow___OKgQ 0.5s infinite alternate;
}

.Home_CardContainer__Sktmb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home_cardProfile__AWPEs {
  background-color: var(--color-border-primary);
  border: 1px solid var(--color-primary);
  width: 380px;
  border-radius: 7px;
  transform: rotate(-5deg);
  height: 500px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Ubuntu", Calibri;
  color: var(--color-text-primary);
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #132f4c 10px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
}

.Home_cardProfile__AWPEs:hover {
  animation: Home_td__TUrxb 600ms forwards;
}

@keyframes Home_td__TUrxb {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.Home_cardProfileImage__tg1Xy {
  width: 340px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home_cardProfileImage__tg1Xy > .Home_Img__9BKN4 {
  width: 100px;
  height: 100px;
}

.Home_cardButtons__cKzO0 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.Home_cardText__PWL57 {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.Home_Image__JAXsC {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.13);
}

@keyframes Home_grow___OKgQ {
  to {
    transform: scale(1.1);
    color: var(--color-secondary);
  }
}

.Home_AboutTitle__NcEbd {
  font-size: 30px;
  font-family: "Source Code Pro", "Ubuntu", sans-serif;
  color: var(--color-secondary);
}

.Home_AboutTitle__NcEbd > h1 {
  margin-top: 10px;
}

.Home_AboutText__1ak8s {
  width: 500px;
  font-family: "Ubuntu", Calibri;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-border-primary);
}

.Home_AboutText__1ak8s > h4 {
  font-weight: 400;
}

.Home_ContactButton__9ebeL {
  display: flex;
}

.Home_ContactButton__9ebeL > * {
  margin-right: 30px;
  font-family: "Ubuntu", Calibri;
}

.Home_ContactButton__9ebeL > .Home_HireMeButton__SXZpe {
  background-color: #0072e5;
  color: var(--color-text-primary);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: transfrom 300ms ease-in-out;
}

.Home_HireMeButton__SXZpe:hover {
  transform: scale(1.1);
}

.Home_ContactButton__9ebeL > .Home_ProjectsButton__Qlj2x {
  background-color: #0072e5;
  color: var(--color-text-primary);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: transfrom 100ms ease-in-out;
}

.Home_ProjectsButton__Qlj2x:hover {
  transform: scale(1.1);
}

.Home_SkillsContainer__7hSQE {
  display: flex;
}

.Home_SkillsContainer__7hSQE > * {
  margin-right: 10px;
}

.Home_SkillsTitle__st9LW {
  font-size: 20px;
  font-family: "Ubuntu", Calibri;
  color: var(--color-border-primary);
}

.Home_SkillCard__eHQDO {
  background-color: #fff;
  color: var(--color-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-border-primary);
  width: 150px;
  height: 130px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -7px 7px rgba(0, 0, 0, 0.288);
  transition: transform 300ms ease-in-out;
}

.Home_SkillCard__eHQDO:hover {
  transform: scale(1.1);
}

.Home_MoreButton__SBPOJ {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.Home_SkillCategory__iIWeZ {
  display: flex;
  justify-content: center;
  font-family: "Ubuntu", Calibri;
  margin-top: 10px;
}

.Home_SkillsList__iwc48 {
  font-family: "Ubuntu", Calibri;
}

.Home_SkillsList__iwc48 > ul {
  list-style: circle;
}

/* Small screen */
@media only screen and (max-width: 1130px) {
  .Home_mainContent__nJQdL {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Home_cardProfile__AWPEs {
    transform: rotate(0deg);
  }

  .Home_AboutTitle__NcEbd {
    margin-top: 50px;
  }

  .Home_AboutText__1ak8s {
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .Home_cardProfile__AWPEs {
    width: 410px;
  }
}

