.mainContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Header {
  margin-bottom: 20px;
}

.IElogo {
  background-color: #000;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.13);
  animation: grow 0.5s infinite alternate;
}

.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardProfile {
  background-color: #fff;
  width: 380px;
  border-radius: 7px;
  transform: rotate(-5deg);
  height: 500px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Ubuntu", Calibri;
}

.cardProfile:hover {
  animation: td 600ms forwards;
}

@keyframes td {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.cardProfileImage {
  width: 340px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardProfileImage > .Img {
  width: 100px;
  height: 100px;
}

.cardButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.cardText {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

@keyframes grow {
  to {
    transform: scale(1.1);
    color: goldenrod;
  }
}

.AboutTitle {
  font-size: 30px;
  font-family: "Source Code Pro";
}

.AboutTitle > h1 {
  margin-top: 10px;
}

.AboutText {
  width: 500px;
  font-family: "Ubuntu", Calibri;
}

.AboutText > h4 {
  font-weight: 400;
}

.ContactButton {
  display: flex;
}

.ContactButton > * {
  margin-right: 30px;
  font-family: "Ubuntu", Calibri;
}

.ContactButton > .HireMeButton {
  background-color: #fff;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 7px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: transfrom 100ms ease-in-out;
}

.HireMeButton:hover {
  transform: scale(1.1);
}

.ContactButton > .ProjectsButton {
  background-color: #fff;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 7px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: transfrom 100ms ease-in-out;
}

.ProjectsButton:hover {
  transform: scale(1.1);
}

.SkillsContainer {
  display: flex;
}

.SkillsContainer > * {
  margin-right: 10px;
}

.SkillsTitle {
  font-size: 20px;
  font-family: "Ubuntu", Calibri;
}

.SkillCard {
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
  transition: transfrom 100ms ease-in-out;
}

.SkillCard:hover {
  transform: scale(1.09);
}

.MoreButton {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.SkillCategory {
  display: flex;
  justify-content: center;
  font-family: "Ubuntu", Calibri;
  margin-top: 10px;
}

.SkillsList {
  font-family: "Ubuntu", Calibri;
}

.SkillsList > ul {
  list-style: circle;
}

/* Small screen */
@media only screen and (max-width: 1130px) {
  .mainContent {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cardProfile {
    transform: rotate(0deg);
  }

  .AboutTitle {
    text-align: center;
  }

  .AboutText {
    text-align: center;
  }

  .ContactButton {
    justify-content: center;
  }
}
