.mainContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Header {
  margin-bottom: 20px;
}

.IElogo {
  background-color: var(--color-border-primary);
  width: 50px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.13);
  animation: grow 0.5s infinite alternate;
}

.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardProfile {
  background-color: var(--color-border-primary);
  border: 1px solid var(--color-primary);
  width: 380px;
  border-radius: 7px;
  transform: rotate(-5deg);
  height: 500px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Ubuntu", Calibri;
  color: var(--color-text-primary);
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #132f4c 10px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
}

.cardProfile:hover {
  animation: td 600ms forwards;
}

@keyframes td {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.cardProfileImage {
  width: 340px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardProfileImage > .Img {
  width: 100px;
  height: 100px;
}

.cardButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.cardText {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.Image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.13);
}

@keyframes grow {
  to {
    transform: scale(1.1);
    color: var(--color-secondary);
  }
}

.AboutTitle {
  font-size: 30px;
  font-family: "Source Code Pro";
  color: var(--color-secondary);
}

.AboutTitle > h1 {
  margin-top: 10px;
}

.AboutText {
  width: 500px;
  font-family: "Ubuntu", Calibri;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-border-primary);
}

.AboutText > h4 {
  font-weight: 400;
}

.ContactButton {
  display: flex;
}

.ContactButton > * {
  margin-right: 30px;
  font-family: "Ubuntu", Calibri;
}

.ContactButton > .HireMeButton {
  background-color: #0072e5;
  color: var(--color-text-primary);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: transfrom 300ms ease-in-out;
}

.HireMeButton:hover {
  transform: scale(1.1);
}

.ContactButton > .ProjectsButton {
  background-color: #0072e5;
  color: var(--color-text-primary);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: transfrom 100ms ease-in-out;
}

.ProjectsButton:hover {
  transform: scale(1.1);
}

.SkillsContainer {
  display: flex;
}

.SkillsContainer > * {
  margin-right: 10px;
}

.SkillsTitle {
  font-size: 20px;
  font-family: "Ubuntu", Calibri;
  color: var(--color-text-primary);
}

.SkillCard {
  background-color: var(--color-border-primary);
  color: var(--color-text-primary);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 150px;
  height: 130px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -7px 7px rgba(0, 0, 0, 0.288);
  transition: transform 300ms ease-in-out;
  background-image: linear-gradient(#444cf7 2px, transparent 2px),
    linear-gradient(90deg, #444cf7 2px, transparent 2px),
    linear-gradient(#444cf7 1px, transparent 1px),
    linear-gradient(90deg, #444cf7 1px, #132f4c 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.SkillCard:hover {
  transform: scale(1.1);
}

.MoreButton {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.SkillCategory {
  display: flex;
  justify-content: center;
  font-family: "Ubuntu", Calibri;
  margin-top: 10px;
}

.SkillsList {
  font-family: "Ubuntu", Calibri;
}

.SkillsList > ul {
  list-style: circle;
}

/* Small screen */
@media only screen and (max-width: 1130px) {
  .mainContent {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cardProfile {
    transform: rotate(0deg);
  }

  .AboutTitle {
    margin-top: 50px;
  }

  .AboutText {
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .cardProfile {
    width: 410px;
  }
}
